.showcase h1{
      font-size:65px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .showcase h2{
      font-size: 27px;
      text-transform: capitalize;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid white;
      color: white;
      width: 20ch;
      animation: typist 8s steps(30) infinite, blink step-end 1s infinite;
      font-weight: 400;
    }
    @keyframes typist{
      0%{width: 0ch;}
      47%{width: 20ch;}
      70%{width: 20ch;}
      75%{width: 0ch;}
      100%{ width: 0ch;}
    }
    @keyframes blink{
      from, to{border-color: transparent;}
      50%{border-color: white;}
    }
    